@model List<DotNetForever.Model.Model.Product>

@if (Model != null && Model.Count>0)
{
    <div class="table-responsive">
        <table class="table table-striped">
            <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Category</th>
                <th scope="col">Code</th>
                <th scope="col">Name</th>
                <th scope="col">Reorder Level</th>
                <th scope="col">Description</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            @{
                var i = 0;
                foreach (var product in Model)
                {
                    i++;

                    <tr>
                        <td>@i</td>
                        <td>@product.Category.Name</td>
                        <td>@product.Code</td>
                        <td>@product.Name</td>
                        <td>@product.RecorderLevel</td>
                        <td>@product.Description</td>
                        <td>
                            <button  type="button" class="editButton btn btn-primary" data-id="@product.Id" data-toggle="modal" data-target="#editModal"><i class="fas fa-pen mr-2"></i>Edit</button>
                            <button  type="button" class="deleteButton btn btn-danger" data-id="@product.Id"><i class="fas fa-trash-alt mr-2"></i>Delete</button>
                        </td>

                    </tr>
                }

            }

            </tbody>
        </table>
    </div>
  
}
else
{
    <hr/>
    <div class="alert alert-warning" role="alert">
        Sorry! No product record found.
    </div>
}

<!-- Modal Edit -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">

    </div>
</div>

<script>
    $(".editButton").click(function () {

        $.ajax({
                type: "GET",
                url: "/Product/Edit",
                data: {
                    Id: $(this).attr('data-id')
                }

        })
        .done(function (response) {
            $("#editModal .modal-dialog").html(response);
        })
        .fail(function (XMLHttpRequest, textStatus, errorThrown) {
            alert("Fail");
        });

    });

    $(".deleteButton").click(function () {
        Swal.fire({
            icon: 'warning',
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                        type: "POST",
                        url: "/Product/Delete",
                        data: {
                            Id: $(this).attr('data-id')
                        }

                    })
                    .done(function (response) {
                        //Swal.fire({
                        //    icon: 'success',
                        //    title: 'Deleted!',
                        //    text: 'Your file has been deleted.',
                        //    timer: 5000
                        //});
                        location.reload();
                    })
                    .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                        alert("Fail");
                    });
               
            }
        });

        //var confirmDelete = confirm("Are you sure?");
        //if (confirmDelete) {

        //    $.ajax({
        //            type: "POST",
        //            url: "/Product/Delete",
        //            data: {
        //                Id: $(this).attr('data-id')
        //            }

        //        })
        //        .done(function (response) {
        //            location.reload();
        //        })
        //        .fail(function (XMLHttpRequest, textStatus, errorThrown) {
        //            alert("Fail");
        //        });

        //}
    });
</script>